ul.tag-box {
  li {
    div {
      display: flex;
      border-bottom: 1px solid rgba(88, 147, 148, 0.5588235294);
      justify-content: space-between;
    }
  }
}

.tag-sub-container {
  .tag-sub {
    border-bottom: 1px solid rgba(88, 147, 148, 0.5588235294);
    margin-bottom: 2em;
    padding-bottom: 1em;
  }
  p {
    font-size: 22px;
  }
  span {
    border: 1px solid #97bbf680;
    border-radius: 12px;
    padding: 12px 16px;
    padding: 3px 8px;
  }

  /* .tag-highlight {
    border: 5px solid #97bbf680;
    box-shadow: 4px 4px 4px #84aef180;
    transition:
      border 2s ease-out,
      box-shadow 2s ease-out;
  } */
}
