@import './font.css';

h1 {
    font-size: 3.2rem;
    letter-spacing: -1px;
    line-height: 1.25;
    font-weight: 800;
    font-family: 'Tmon';
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.25;
    font-family: 'Tmon';
}

h3 {
    font-size: 2.8rem;
    line-height: 1;
    letter-spacing: -0.8px;
    font-weight: 600;
    font-family: 'Tmon';
}

h4 {
    font-size: 2.2rem;
    line-height: 1.27;
    letter-spacing: -0.8px;
    font-weight: 600;
    font-family: 'Tmon';
}

h5 {
    font-size: 2.6rem;
    line-height: 1.23;
    letter-spacing: -0.8px;
    font-weight: 700;
    font-family: 'Tmon';
}
